.header {  
    margin-top:20px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #0d0d0d;
  }
/*   
  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
  } */
  
  .headerTitleLg {
    position: absolute;
    top: 8%;
    font-size: 400%;
  }
  
  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 8rem;
    object-fit: cover;
  }